html, body {
    margin: 0;
    padding: 0.25em;
}
p {
    font-size: .9em;
}
a {
    color: #637a57;
}
a:hover {
    color: #99b681;
}

@media (min-width: 35em) {
    #right {
        float: right;
        width: 15em;
        border: 1px solid;
    }
    #right > #banner {
        width: 100%;
    }
    #left {
        float: left;
    }
}
#header {
    margin: .25em;
    font-size: 2em;
    font-family: monospace;
    text-align: center;
}

/* Showable/hidable blocks */
.option {
    padding: .25em;
    border: 1px solid;
}
.option.closed > .title:before {
    content: '► '; 
}
.option.closed > .body {
    display: none;
}
.option.open > .title:before {
    content: '▼ ';
}
.hidden {
    display: none;
}

/* Page structure */
#container {
    min-width: 30em;
}
#header h1 {
	font-size: 2em;
	font-family: "Courier New";
	display: inline;
}
#popup {
    display: none;
    position: fixed;
    background-color: white;
    width: 70%;
    left: 50%;
    margin-left: -35%;
    min-width: 20em;
    border-radius: .5em;
    border: 1px solid #aaa;
}
#popup-content {
    margin: 1em;
}

/* Link collection */
#links {
    padding-right: .5em;
}
#links > * {
    padding: .25em;
    margin: 0;
    border-radius: .25em;
}
/* Individual links */
#links > :nth-child(odd) {
    background-color: #bdf;
}
.submitter {
	display: block;
	font-size: 80%;
}
.nsfw {
    border: 1px solid #f55e7b;
}
