﻿<!DOCTYPE html>
<html lang="en" ng-app="mishabot">
<head>
    <meta charset="utf-8">
    <title>MishaBot</title>

    <link rel="stylesheet" type="text/css" href="css/mishabot.css" /> 
</head>
<body>
    <div id="right">
        <div id="header">MishaBot</div>
        <img ng-controller="BannerSelectCtrl"
             ng-src="img/banner/{{banner.file}}"
             id='banner' alt="wahahahaha~"/>

        <div title="Settings" class="option">
            <label>
                Filter
                <input class="setting" id="filter" type="text" />
            </label><br />
            <label>
                Hide NSFW
                <input class="setting" id="hideNSFW" type="checkbox" />
            </label>
            <div title="Debug options" class="option">
                Request URI: <input class="setting" type="text" id="request_uri" /><br />
                <input type="button" id="dump_settings" value="Dump settings to console"/>
            </div>
        </div>
    </div>

    <div id="left">
        <div ng-view></div>
    </div>

    <script src="lib/jquery/jquery-2.0.3.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-cookies.js"></script>
    <script src="lib/angular/angular-resource.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
</body>
</html>
